<div ng-controller="VenuesCtrl">
    <input type="text" ng-model="query.name" ng-change="search()" placeholder="Name">
    <input type="text" ng-model="query.city" ng-change="search()" placeholder="City">
    <div ng-repeat="venue in venues">

      <h4>{{venue.name}}</h4>
      {{venue.description}}
      {{venue.address}}
      {{venue.city}}
      {{venue.state}}

      <img src="http://maps.googleapis.com/maps/api/staticmap?center={{venue.address}}+{{venue.city}}+{{venue.state}}&zoom=13&size=200x100&maptype=roadmap
      &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
      &markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&sensor=false">
    </div>
</div>