<div ng-controller="KuchekaProfileCtrl">
    Hello, {{user.name}}!
    <form ng-submit="saveForm()">
        <input type="text" ng-model="user.name" value="{{user.name}}">
        <button ng-click="pickFile()">Choose a cover image</button>
        <img src="{{user.cover_image_url}}" width="auto" height="100">
        <p>Image: {{user.cover_image_url}}</p>
        <input class="filepicker-file" type="hidden" ng-model="user.cover_image_url">
        <textarea ng-model='user.bio'>
        </textarea>
        <input type="submit" value="Save">
    </form>
</div>