<header id="#overview" class="jumbotron subhead">
  <div class="container">
    <h1>Kucheka</h1>
    <p class="lead">Get the Laughs You Deserve</p>
  </div>
</header>

<div class="container">
  <div class="row image-list">
    <div class="span12">
      <h3>Featured/Popular Comedians</h3>
    </div>    
    <div class="span4">
      <figure>
        <img src="/assets/comedian3.jpg" class="img-rounded">
        <figcaption>
          <span class="name">Rhod Gilbert</span>
          <span class="location">London, UK</span>
        </figcaption>
      </figure>
    </div>
    <div class="span4">
      <figure>
        <img src="/assets/comedian2.jpg" class="img-rounded">
        <figcaption>
          <span class="name">Sara Silverman</span>
          <span class="location">Los Angeles, CA</span>
        </figcaption>
      </figure>
    </div>
    <div class="span4">
      <figure>
        <img src="/assets/comedian-lck.jpg" class="img-rounded">
        <figcaption>
          <span class="name">Louis C.K.</span>
          <span class="location">New York, NY</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="section-inverse">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Featured/Popular Comedians</h3>
      </div>    
      <div class="span3"><img src="/assets/comedian2.jpg" class="img-rounded"></div>
      <div class="span3"><img src="/assets/comedian1.jpg" class="img-rounded"></div>
      <div class="span3"><img src="/assets/comedian2.jpg" class="img-rounded"></div>
      <div class="span3"><img src="/assets/comedian3.jpg" class="img-rounded"></div>
    </div>
    <hr>
    <div class="row">
      <div class="span12">
        <h3>Freshly Added Comedians</h3>
      </div>    
      <div class="span3"><img src="/assets/comedian1.jpg" class="img-rounded"></div>
      <div class="span3"><img src="/assets/comedian2.jpg" class="img-rounded"></div>
      <div class="span3"><img src="/assets/comedian3.jpg" class="img-rounded"></div>
      <div class="span3"><img src="/assets/comedian2.jpg" class="img-rounded"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span1"></div>
    <div class="span10">
      <h3>Get started!</h3>
      <ul class="row">
        <li class="span3">
          <a target="_self" href="/auth/facebook">Connect via Facebook</a>
        </li>
        <li class="span3">
          <a target="_self" href="/auth/linkedin">Connect via LinkedIn</a>
        </li>
        <li class="span3">
          <a target="_self" href="/auth/twitter">Connect via Twitter</a>
        </li>
      </ul>
    </div>
    <div class="span1"></div>
  </div>
</div>