<header id="#overview" class="jumbotron subhead">
  <div class="container">
    <h1>Kucheka</h1>
    <p clas="lead">Get the Laughs You Deserve</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span1"></div>
    <div class="span10">
      <h3>Get started!</h3>
      <ul class="row">
        <li class="span3">
          <a target="_self" href="/auth/facebook">Connect via Facebook</a>
        </li>
        <li class="span3">
          <a target="_self" href="/auth/linkedin">Connect via LinkedIn</a>
        </li>
        <li class="span3">
          <a target="_self" href="/auth/twitter">Connect via Twitter</a>
        </li>
      </ul>
    </div>
    <div class="span1"></div>
  </div>
</div>