<div ng-controller="KuchekaUserCtrl" class="user-profile">
  <header class="user-hero" style="background-image: url('{{user.cover_image_url}}')">
    <div class="container">
      <div class="row">
        <div class="span5">
        </div>
        <div class="span7">
          <h3>{{user.name}}</h3>
          <p class="subhead">{{user.bio}}</p>
          <p>{{user.bio}}</p>
        </div>
      </div>
    </div>
  </header>
  <div class="container event-info">
    <div class="row">
      <div class="span10">
        <p class="next-event"><span>Next Show:</span> Tues, May 11  /  San Francisco  @  Punchline</p>
      </div>
      <div class="span2">
        <a href="#" class="btn btn-large btn-info">Get Tix</a>
      </div>
    </div>
    <div class="row event-list">
      <div class="span2"></div>
      <div class="span8">
        <table class="table">
          <tr>
            <td>Sat, May 14</td>
            <td>San Francisco, CA</td>
            <td>The Fillmore</td>
            <td>
              <a href="#" class="btn btn-info">Get Tix</a>
            </td>
          </tr>
          <tr>
            <td>Sat, May 20</td>
            <td>San Francisco, CA</td>
            <td>The Fillmore</td>
            <td>
              <a href="#" class="btn btn-info">Get Tix</a>
            </td>
          </tr>
          <tr>
            <td>Sat, May 21</td>
            <td>San Francisco, CA</td>
            <td>The Fillmore</td>
            <td>
              <a href="#" class="btn btn-info">Get Tix</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="span2"></div>
    </div>    
  </div>
  <div class="section-inverse">
    <div class="container">
      <div class="row">
        <div class="span3 user-photo-gallery">
          <img src="/assets/comedy-misc-01.jpg" class="img-polaroid">
          <img src="/assets/comedy-misc-02.jpg" class="img-polaroid">
        </div>
        <div class="span3">
          <ul class="contact-info">
            <li>
              <b>For Contact/Booking:</b> <a href="mailto:543management@outlook.com">{{user.contact}}</a>
            </li>
            <li>
              <b>Website:</b> <a href="http://{{user.website}}">{{user.website}}</a>
            </li>
            <li>
              <p><b>Facebook</b> {{user.facebook}}</p>
              <p><b>Twitter</b> <a href="http://www.twitter.com/{{user.twitter}}">{{user.twitter}}</a>
              </p>
            </li>
          </ul>
        </div>
        <div class="span6">
          <div class="video-wrapper">
            <iframe width="100%" height="100%" src="http://www.youtube.com/embed/FYuIiGtbB5c" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div> <!-- /row -->
    </div>
  </div>
</div>
