<div ng-controller="ComedyBaseUserCtrl" class="user-profile">
  <header class="user-hero" style="background-image: url('{{user.coverImageUrl}}')">
    <div class="container">
      <div class="row">
        <div class="span5">
        </div>
        <div class="span7">
          <h3>{{user.name}}</h3>
          <p class="subhead">{{user.tagline}}</p>
          <p>{{user.bio}}</p>
        </div>
      </div>
    </div>
  </header>
  <div class="container event-info">
    <div class="row" ng-show="user.nextShow">
      <div class="span2">
        <p class="next-event"><span>Next Show:</span></p>
      </div>
      <div class="span8">
        <p class="next-event">{{user.nextShow.start|dateFormat}}  /  {{user.nextShow.venue.place.city}} @ {{user.nextShow.venue.name}}, {{user.nextShow.start|timeFormat}}</p>
      </div>
      <div class="span2">
        <a href="#" class="btn btn-large btn-info">More info</a>
      </div>
    </div>
    <div class="row event-list">
      <div class="span2"></div>
      <div class="span8">
        <table class="table">
          <tr ng-repeat="event in user.events">
            <td>{{event.start|dateFormat}}, {{event.start|timeFormat}}</td>
            <td>{{event.venue.place.city}}, {{event.venue.place.state}}</td>
            <td>{{event.venue.name}}</td>
            <td>
              <a href="{{event.link}}" class="btn btn-info">More info</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="span2"></div>
    </div>    
  </div>
  <div class="section-inverse">
    <div class="container">
      <div class="row">
        <div class="span3 user-photo-gallery">
          <a ng-click="openImagesDialog(imagesDialog)">
            <img ng-show="user.images[0]" src="{{user.images[0].url}}/convert?w=270&h=167&fit=crop" class="img-polaroid">
            <img ng-show="user.images[1]"  src="{{user.images[1].url}}/convert?w=270&h=167&fit=crop" class="img-polaroid">
            <img ng-hide="user.images[0]" src="/assets/comedy-misc-01.jpg" class="img-polaroid">
            <img ng-hide="user.images[1]" src="/assets/comedy-misc-02.jpg" class="img-polaroid">
          </a>
        </div>
        <div class="span3">
          <ul class="contact-info">
            <li ng-show="user.contact">
              <b>For Contact/Booking:</b> <a href="mailto:{{user.contact}}">{{user.contact}}</a>
            </li>
            <li ng-show="user.website">
              <b>Website:</b> <a href="http://{{user.website}}">{{user.website}}</a>
            </li>
            <li>
              <p ng-show="user.facebook"><b>Facebook: </b> <a href="{{user.facebook}}">{{user.facebook|facebook}}</a></p>
              <p ng-show="user.twitter"><b>Twitter: </b> <a href="http://www.twitter.com/{{user.twitter}}">{{user.twitter}}</a>
              </p>
            </li>
            <li>
              <p ng-repeat="link in user.customLinks"><b>{{link.title}}: </b> <a href="{{link.url}}">{{link.url}}</a></p>
            </li>
          </ul>
        </div>
        <div class="span6">
          <div class="video-wrapper">
            <iframe width="100%" height="100%" src="http://www.youtube.com/embed/{{user.featuredVideo||'oHg5SJYRHA0'}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div> <!-- /row -->
      <!--
      <div class="row">
        <div class="span12">
          <h3>More Links</h3>
          <ul class="contact-info">
            <li><b>Podcast:</b> <a href="#">soundcloud.com/comedy/podcast-of-fun-2013-02</a></li>
          </ul>
        </div>
      </div> <!-- /row -->
    </div>
  </div>
</div>
