<div class="container">
  <div class="row">
    <div class="span12">
      <nav class="settings-nav" ng-controller="ComedyBaseNavCtrl">
        <a href="/profile/me" ng-class="{active:isActive('/profile/me')}">Edit Your Profile</a>
        <a href="/profile/gigs" ng-class="{active:isActive('/profile/gigs')}">Manage Your Gigs</a>
        <a href="/profile/images" ng-class="{active:isActive('/profile/images')}">Manage Your Photos</a>
      </nav>
    </div>
  </div>
  <div class="row" ng-controller="ComedyBaseProfileEventsCtrl">
    <div class="span6">

      <h3>Add New Gig</h3>


        <div class="add_event container">
          <div class="control-group">
            <label for="event_city" class="control-label">Event city</label>
            <div class="controls">
              <div id="event_city" type="text"></div>
            </div>
          </div>
          <div class="control-group">
            <label for="event_venue" class="control-label">Event venue</label>
            <div class="controls">
              <div id="event_venue" type="text"></div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <a ng-click="openDialog(venue_dialog_opts)" href="#">Add a new venue</a> (if the venue is not on the list)
            </div>
          </div>

          <div ng-show="venue">
            <div class="control-group">
              <label for="event_date" class="control-label">Date</label>
              <div class="controls">
                <input id="event_date" type="text" ui-date ng-model="event_date">
              </div>
            </div>
          </div>


          <div ng-show="event_date">
            <div class="control-group">
              <label for="event_event" class="control-label">Event</label>
              <div class="controls">
                <div id="event_event" type="text"></div>
              </div>
            </div>
            <div class="control-group">
              <div class="controls"> 
                <a ng-click="openDialog(event_dialog_opts)" href="#">Submit a new event</a> (if the event is not on the list)
              </div>
            </div>
          </div>

            
        </div> <!-- /container -->





          <div ng-show="event">
            <div class="control-group">
              <label for="action" class="control-label">Add</label>
              <div class="controls">
                <button id="action" ng-click="addEvent()">Add event</button>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="span6">
        <div class="add_venue" ng-show="add_venue">

        </div>
        <div class="add_event" ng-show="add_event">
        </div>

      </div>

    </div>
  </div>
</div>
