<div>
  <a href="/profile/me">Edit my profile</a>
  <a href="/profile/events/add">Add Events</a>
  <a href="/profile/events">Manage Events</a>
  <a href="#">Manage Photos</a>
  <a href="#">Manage Videos</a>
</div>

<div ng-controller="ComedyBaseProfileCtrl">
  
  <div class="container">
    <div class="row">
      <div class="span12">

        <h3>{{user.name}}'s Settings</h3>

              <form ng-submit="saveForm()">
                <div class="span12">
                  <input type="text" ng-model="user.name">
                  <input type="text" ng-model="user.slug" >
                </div>
                <div class="span12">
                  <button ng-click="pickFile()" class="btn">Choose a cover image</button>
                  <img src="{{user.coverImageUrl}}" width="auto" height="100">
                  <h4>Image Preview: {{user.cover_image_url}}</h4>
                </div>
                <div class="span12">
                  <hr>
                  <h4>Short Bio:</h4>
                  <textarea ng-model='user.bio'></textarea>
                </div>
                <div class="span12">
                  <div class="input-prepend">
                    <span class="add-on">http://</span>
                    <input class="span2" type="text" ng-model="user.website" placeholder="your-website.com">
                  </div>

                  <input type="text" ng-model="video_link" ng-change="getVideoId()" placeholder="link to a featured youtube video">
                  <input disabled type="text" ng-model="user.featuredVideo" placeholder="Youtube code">
                  <input type="text" ng-model="user.facebook" placeholder="Facebook">
                  <input type="text" ng-model="user.twitter" placeholder="Twitter">
                </div>
                <div class="span12">
                  <input type="text" ng-model="user.location" placeholder="Home base town/city">
                </div>
                <div class="span12">
                  <input type="submit" class="btn btn-success" value="Save">
                </div>
              </form>

      </div>
    </div>
  </div>
</div>