<div class="container">
  <div class="row">
    <div class="span12">

      <nav class="settings-nav">
        <a href="/profile/me">Edit your profile</a>
        <a href="/profile/events">Manage Events</a>
      </nav>

      <div ng-controller="ComedyBaseManageEventsCtrl">
        <h3>Your Events</h3>
        <a class="btn btn-success" href="/profile/events/add">Add new event</a>
        <ul class="settings-event-list">
          <li ng-repeat="event in events">
            <h3>{{$index}}) {{event.title}}</h3>
            <p>{{event.description}}</p>
            <h4>{{event.venue.name}} in {{event.venue.place.city}}, {{event.venue.place.state}}</h4>
            {{event.start}}
<!--             <div class="pull-right" ng-repeat="user in event.users">
              <img src="{{user.imageUrl}}" />
              {{user.name}}
            </div> -->
            <div class="actions">
              <a href="#" class="btn btn-mini btn-danger" ng-click="remove_event($index)">Remove event</a>
            </div>
            <hr class="clearfix">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>