<div class="container">
  <div class="row">
    <div class="span12">

      <nav class="settings-nav" ng-controller="ComedyBaseNavCtrl">
        <a href="/profile/me" ng-class="{active:isActive('/profile/me')}">Edit Your Profile</a>
        <a href="/profile/gigs" ng-class="{active:isActive('/profile/gigs')}">Manage Your Gigs</a>
        <a href="/profile/images" ng-class="{active:isActive('/profile/images')}">Manage Your Photos</a>
      </nav>

      <div ng-controller="ComedyBaseManageEventsCtrl">
        <div class="heading-wrap">
          <h3>Your Events</h3>
          <a class="btn btn-success" href="/profile/events/add">Add new event</a>
        </div>
        <ul class="settings-event-list form-style">
          <li ng-repeat="event in events">
            <h3>{{$index}}) {{event.title}}</h3>
            <p>{{event.description}}</p>
            <h4>{{event.venue.name}} in {{event.venue.place.city}}, {{event.venue.place.state}} on {{event.start|dateFormat}}</h4>
            
            <div class="performers-list">
              <h4>Performing:</h4>
              <a ng-repeat="user in event.users" href="/{{user.slug}}">
                <img src="{{user.imageUrl}}" title="{{user.name}}" />
              </a>
            </div>
            <div class="actions">
              <a href="#" class="btn btn-mini" ng-click="edit_event($index)">Edit</a>
              <a href="#" class="btn btn-mini btn-danger" ng-click="remove_event($index)">Remove</a>
            </div>
            <hr class="clearfix">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>