<div>
  <a href="/profile/me">Edit my profile</a>
  <a href="/profile/events/add">Add Events</a>
  <a href="/profile/events">Manage Events</a>
  <a href="#">Manage Photos</a>
  <a href="#">Manage Videos</a>
</div>

<div ng-controller="ComedyBaseManageEventsCtrl">
  <a class="btn" href="/profile/events/add">Add new event</a>
  <div ng-repeat="event in events">
    <h4>{{event.title}}</h4>
    {{event.description}}
    <h5>{{event.venue.name}}</h5>
    {{event.venue.place.state}}
    {{event.venue.place.city}}
    {{event.start}}
    <hr>
  </div>
</div>