<div class="container">
  <div class="row">
    <div class="span12">

      <nav class="settings-nav" ng-controller="ComedyBaseNavCtrl">
        <a href="/profile/me" ng-class="{active:isActive('/profile/me')}">Edit Your Profile</a>
        <a href="/profile/gigs" ng-class="{active:isActive('/profile/gigs')}">Manage Your Gigs</a>
        <a href="/profile/images" ng-class="{active:isActive('/profile/images')}">Manage Your Photos</a>
      </nav>

      <div class="heading-wrap">
        <h3>Your Photos</h3>
      </div>

      <div ng-controller="ComedyBaseImagesCtrl" class="form-style">
        <div class="control-group">
          <label for="chooseImage" class="control-label">
            <a ng-click="addImage()" id="chooseImage" class="btn btn-success">Add an image</a>
          </label>
          <div class="controls">
            <ul class="list-reset">
              <li ng-repeat="image in user.images">
                <p><img src="{{image.url}}/convert?h=250&fit=crop"></p>
                <p><input type="text" ng-model="image.title" placeholder="Don't be lazy add a caption"><a class="btn" ng-click="updateImage(image)">Save</a></p>
                <p><a ng-click="removeImage(image)" class="btn btn-mini btn-danger">Remove photo</a></p>
                <hr>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


