<div class="modal-header">
  <h1>This is the title</h1>
  </div>
<div class="modal-body">
  <input type="edit" ng-model="data.venue_name" disabled>
  <input type="edit" ng-model="new_event.title" placeholder="Title of the event">
  <textarea ng-model="new_event.description" placeholder="Description of the event">
  </textarea>
  <input type="edit" ui-date ng-model="event_date">
  <input type="edit" ng-model="new_event.link" placeholder="Link if exists">
</div>
<div class="modal-footer">
  <button ng-click="close(new_event)" class="btn btn-primary">Add venue</button>
  <button ng-click="close()" class="btn">Close</button>
</div>