// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-blue: #00bff3;

@import "bootstrap";
@import "bootstrap-responsive";

body {
  font: 20px Yanone Kaffeesatz, HelveticaNeueCondensed, Helvetica, sans-serif;
}

a {
  color: $main-blue;
}

figure {
  margin: 0;
}

p {
  font-weight: 300;
}

.btn {
  font-size: 22px;
  padding: 6px 18px;
  font-family: Yanone Kaffeesatz, HelveticaNeueCondensed, Helvetica, sans-serif;
  white-space: nowrap;
}

.btn-mini {
  font-size: 17px;
  padding: 4px 18px;
}

.btn-large {
  font-size: 40px;
  padding: 18px 25px;
}

ul.row {
  li {
    list-style: none;
    margin: 0;
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.navbar {
  margin: 0;
  .nav {
    margin: 5px 10px 0 0;
    i {
      vertical-align: top;
    }
  }
  .navbar-inner {
    background: #050302;
    border-radius: 0;
    border-bottom: 1px solid #38322a;
  }
  .brand {
    color: $main-blue;
    text-shadow: none;
    font-size: 27px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  > .row {
    margin-bottom: 20px;
  }
}

.subhead {
  color: #fff;
  position: relative;
  padding: 60px 0;
  h1, p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  }
  h1 {
    font-size: 68px;
    margin-bottom: 25px;
  }
  .lead {
    font-size: 36px;
  }
}

.jumbotron {
  background: url('/assets/bg-mic.jpg') center center;
  .subhead {
    padding: 100px 0;
  }
}

.connect-fb {
  background: url('/assets/btn-fb-connect.png') no-repeat;
  width: 295px;
  height: 46px;
  display: inline-block;
  text-indent: -5000px;
}

.user-hero {
  background-position: center center;
  background-size: 100%;
  color: #fff;
  padding: 40px 0;
  h3, p {
    background: rgba(0, 0, 0, .85);
  }
  h3 {
    font-size: 68px;
    color: $main-blue;
    display: inline-block;
    line-height: 1;
    padding: 0 12px 10px;
  }
  p {
    padding: 7px 20px 10px;
    &.subhead {
      font-size: 36px;
      &:before {
        content: "\201C";
        margin-left: -8px;
        color: $main-blue;
      }
      &:after {
        content: "\201D";
        color: $main-blue;
      }
    }
  }
}

.next-event {
  font-size: 54px;
  line-height: .9;
  span {
    color: $main-blue;
  }
}

.user-profile {
  .container.event-info {
    padding-top: 40px;
    padding-bottom: 40px;
    .span2 {
      // overflow:hidden;
    }
  }
}

.section-connect {
  border-top: 4px #ddd solid;
  padding: 10px 0;
}

.section-inverse {
  background: #222 url('/assets/bg-tile-black.jpg');
  padding: 40px 0;
  color: #fff;
  border-top: 4px #a5a5a5 solid;
  hr {
    border-top: 0;
    border-bottom: 8px solid rgba(255, 255, 255, .1);
    margin-top: 40px;
  }
}

.event-list {
  margin: 40px 0 0;
  table {
    tr {
      border: 0;
      border-bottom: 1px dashed #ccc;
    }
    td {
      border: 0;
      vertical-align: middle;
      &:nth-child(4) {
        width: 20%;
      }
    }
  }
}

.contact-info {
  font-weight: 300;
  margin: 0;
  li {
    line-height: 1.1;
    list-style: none;
    color: #999;
    margin: 0 0 20px;
    b {
      color: #fff;
    }
  }
}

.image-list {
  figure {
    a {
      &:hover {
        opacity: .8;
      }
    }
    img {
      margin-bottom: 10px;
    }
    figcaption {
      position: relative;
      font-weight: 300;
      .location {
        float: right;
        color: #676767;
      }
    }
  }
}

.user-photo-gallery {
  img {
    margin-bottom: 10px;
  }
  .img-polaroid {
    background-color: #353535;
    border-color: #555;
    box-sizing: border-box;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  background: $main-blue;
  padding: 20px 0;
  .nav {
    margin: 0;
    a {
      color:#333333;
    }
  }
}

.green-true {
  background-color: grey;
}

/****************************************
/* Forms
/****************************************/

.form-style {
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 30px 0;
  border-radius: 4px;
  hr {
    margin-left: -30px;
    margin-top: 0;
  }
}

.control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
  font-size: 18px;
}

.controls {
  margin-left: 180px;
}

/****************************************
/* /Forms
/****************************************/

/****************************************
/* Settings
/****************************************/

.heading-wrap {
  position: relative;
  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.settings-nav {
  margin: 20px 0;
  a {
    padding: 5px 10px;
    margin-right: 10px;
    background: #f8f8f8;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
    }
    &.active {
      color: white;
      background: $main-blue;
    }
  }
}

.settings-event-list {
  margin: 0 0;
  padding: 10px 20px 20px;
  li {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    .actions {
      position: absolute;
      top: 0;
      right: 0;
      .btn {
        margin: 0 0 0 7px;
      }
    }
    &:last-child {
      hr { display: none }
    }
    h4 {
      color: #626262;
    }
  }
}
.performers-list {
  margin-bottom: 20px;
  h4 {
    float: left;
    margin: 6px 10px 0 0;
  }
  img {
    width: 35px;
    margin-right: 7px;
  }
}
.user-hero-img {
  max-height: 200px;
  margin-bottom: 10px;
}

/****************************************
/* /Settings
/****************************************/

/****************************************
/* Media Query Overrides
/****************************************/

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .control-group {
    label {
      float: none;
      text-align: left;
      width: 90%;
      padding-left: 5%;
    }
    .controls {
      margin-left: 0px;
      padding-left: 5%;
      input, textarea {
        width: 80%;
      }
    }
  }
}

/****************************************
/* /Media Query Overrides
/****************************************/

img.profile-thumb {
  max-height: 200px;
  overflow: hidden;
}

.body {
  min-height: 600px;
}

.user-hero {
  min-height:250px;
}



.select2-container {
  width: 300px;
}
